.dashboard--container{
    background-color: #ffffff;
    width: 100vw;
    background-size: cover;
    height: 100vh;
    
}
.dashboard--header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    border-bottom: 1px solid #ddd;
    color: #006633;
}
.dashboard--main--content{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 10px;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px 5px rgba(0,0,0,0.1);
    border: 1px solid #e0e0e0;
}
.dashboard--description{
    color: #006633;
}
.dashboard--description p{
    color: grey;
    padding: 0px 20px;

}

.search--button {
    background: #006633;
    
}

.receipts--view{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 1px solid #ddd;
    color: #006633;
}
.receipts--view a{
    border: 1px solid #128C7E;
    border-radius: 25px;
    padding: 0rem 0.3rem;
    color: #006633;
}
.recents{
    display: flex;
    flex-direction: column;
    
}
.transaction--details{
    display: flex;
    justify-content: space-between;
    padding: 0rem 2rem;
    gap: 20px;
    align-items: center;
    border-bottom: 1px solid #ddd;
    font-size: xx-small;
}


