.dashboard--container{
    background-image: url('/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    background-size: cover;
    height: 100vh;
    
}
.dashboard--header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    border-bottom: 2px solid red;
    color: white;
}
.logo--header{
    display: flex;
    gap: 20px;
}
.logo--header img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.dashboard--main--content{
    /* background-color: rgba(255,255,255,0.7); */
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px 5px rgba(0,0,0,0.1);
    border: none;
}
.dashboard--description{
    color: #0cee7d;
}

.dashboard--description p{
    color: white;

}

.search--button {
    background: #006633;
    
}

.receipts--view{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 1px solid #ddd;
    color: #0cee7d;
}
.receipts--view a{
    border: 1px solid #0cee7d;
    border-radius: 25px;
    padding: 0rem 0.2rem;
    color: #ffffff;
    font-weight: bolder;
}
.recents{
    display: flex;
    flex-direction: column;
    
}
.transaction--details{
    display: flex;
    justify-content: space-between;
    padding: 0rem 2rem;
    color: #ffffff;
    gap: 20px;
    align-items: center;
    border-bottom: 1px solid #ddd;
    font-size: small;
}
.copyright{
    color: #ffffff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 100;
    padding: 15px 0;
    font-weight: 800;
}

