.dashboard--container{
    background-color: #ffffff;
    width: 100vw;
    background-size: cover;
    height: 100vh;
    
}
.dashboard--header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    border-bottom: 1px solid #ddd;
    color: #128C7E;
}
.dashboard--main--content{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.dashboard--main--content, .dashboard--description{
    color: #000000;
}
.institution--search{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 10px;
}

.search--button{
    background: #128C7E;
    transition: background 0.2s ;
}

.recent--payments td{
    color: black;
   
    border: 1px solid black;
}
.receipts--view{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 1px solid #ddd;
    color: #128c7e;
}
.receipts--view a{
    border: 2px solid #128C7E;
    border-radius: 25px;
    padding: 0rem 1rem;
    color: #128C7E;
}


.recent--header{
    background-color: #128C7E;
}
.recent--header td{
    color: #ffffff;
}
