.dashboard--container{
    background-color: #ffffff;
    width: 100vw;
    background-size: cover;
    height: 100vh;
    
}
.dashboard--header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    border-bottom: 1px solid #ddd;
    color: #128C7E;
}
.dashboard--main--content{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.dashboard--description{
    color: #000000;
}
.dashboard--description p{
    color: red;
}

.search--button {
    background: #128C7E;
    
}

.receipts--view{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 1px solid #ddd;
    color: #128c7e;
}
.receipts--view a{
    border: 2px solid #128C7E;
    border-radius: 25px;
    padding: 0rem 1rem;
    color: #128C7E;
}
.recents{
    display: flex;
    flex-direction: column;
    
}
.transcation--details{
    display: flex;
    justify-content: space-between;
    padding: 0rem 2rem;
    gap: 20px;
    align-items: center;
    border-bottom: 1px solid #ddd;
}


