.payment--main-container{
    background-color: #ffffff;
    width: 100vw;
    background-size: cover;
    height: 100vh;
    
}
.payment--header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    border-bottom: 1px solid #ddd;
    color: green;
}
.header--info{
    color: #128C7E;
}
.Nav--Back a{
    color: #128C7E;
}
.help--header a{
    color: #128C7E;
}