.payment--main-container{
    background-color: rgb(6, 46, 6);
    width: 100vw;
    background-size: cover;
    height: 100vh;
    align-items: center;
}
.payment--header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    border-bottom: 1px solid red;
    color: #006633;
}
.header--info{
    color: white;
}
.Nav--Back a{
    color: #006633;
}
.help--header a{
    color: #006633;
}

.payment--main-content{
    min-height: 100vh;
    background-color: rgb(234, 231, 231);
    border-radius: 10px;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px 5px rgba(0,0,0,0.1);
    border: 1px solid #e0e0e0;
    
}
.payment--barrier{
    color: #006633;
    font-weight: bolder;
}
.student--details{
    text-align: left;
    color: #000000;
}
.current--balance{
    font-size: xx-large;
    font-weight: bold;
    color: #006633;
}
.payment--status{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid red;
}
.payment--input input{
    background: transparent;
    width: 80%;
    padding: 8px;
    border-radius: 50px;
    font-size: 16px;
    border: 2px solid black;
    margin-top: 15px;
}
.payment--button{
    margin-top: 10px;
    background-color: #006633;
}