.processing--container{
    background-color: rgb(6, 46, 6);
    width: 100vw;
    background-size: cover;
    height: 100vh;
    
}
.processing--header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 4rem;
    border-bottom: 1px solid red;
    color: #006633;
}
.header--info{
    color: #006633;
}

.processing--main-content{
    background-color: rgb(234, 231, 231);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px 5px rgba(0,0,0,0.1);
    border: 1px solid #e0e0e0;
}
