.search--main-container{
    background-color: #ffffff;
    width: 100vw;
    background-size: cover;
    height: 100vh;
    
}
.search--header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    border-bottom: 1px solid #ddd;
    color: green;
}
.header--info{
    color: #128C7E;
}
.Nav--Back a{
    color: #128C7E;
}
.help--header a{
    color: #128C7E;
}
.search--main-content{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.input--search{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
    align-items: center;
}
.input--search p{
    color: red;
}
.input--search input{
    width: 80%;
    padding: 8px;
    border-radius: 50px;
    font-size: 16px;
    border: 2px solid #128C7E;
}
.list--options{
    position: relative;
    top: 25%;
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    color: #128C7E;
    max-height: 200px;
    overflow-y: auto;
    width: 80vw;
    border-radius: 10px;
    
}
.verify--button {
    background: #128C7E;
    
}

.most--popular-schools h4{
    border-bottom: 2px solid #ddd;
    color: #000000;
}
.school{
    text-align: left;
    padding: 0px 10px;
    font-size: bold;
    color: gray;
}
.school h5{
    color: #000000;
}
