.search--main-container{
    background-color: #ffffff;
    width: 100vw;
    background-size: cover;
    height: 100vh;
    
}
.search--header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    border-bottom: 1px solid #ddd;
    color: #006633;
}
.header--info{
    color: #006633;
}
.Nav--Back a{
    color: #006633;
}
.help--header a{
    color: #006633;
}
.search--main-content{
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px 5px rgba(0,0,0,0.1);
    border: 1px solid #e0e0e0;
}
.input--search{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
    align-items: center;
}
.input--search p{
    color: #006633;
}
.input--search input{
    width: 80%;
    padding: 8px;
    border-radius: 50px;
    font-size: 16px;
    border: 2px solid #006633;
}
.list--options{
    position: relative;
    top: 25%;
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-top: none;
    color: #006633;
    max-height: 200px;
    overflow-y: auto;
    width: 80vw;
    border-radius: 10px;
    
}
.search--button {
    background: #006633;
    
}

.most--popular-schools h4{
    border-bottom: 2px solid #ddd;
    color: #000000;
    
}
.school{
    color: gray;
    display: flex;
    justify-content: space-between;
    padding: 0rem 2rem;
    gap: 20px;
    align-items: center;
    border-bottom: 1px solid #ddd;
    font-size: x-small;
}
.school h5{
    color: #000000;
}
