.verify--main-container{
    background-color: #ffffff;
    width: 100vw;
    background-size: cover;
    height: 100vh;
    
}
.verify--header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    border-bottom: 1px solid #ddd;
    color: #006633 ;
}
.header--info{
    color: #006633;
}
.Nav--Back a{
    color: #006633;
}
.help--header a{
    color: #006633;
}


.verify--main-content{
    display: flex;
    flex-direction: column;
    color: grey;
    border-radius: 10px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px 5px rgba(0,0,0,0.1);
    border: 1px solid #e0e0e0;
}
.verify--description{
    display: flex;
    flex-direction: column;
    color: grey;
}
.verified{
    display: flex;
    justify-content: space-between;
    padding: 0rem 2rem;
    gap: 20px;
    align-items: center;
    border-bottom: 1px solid #ddd;
    font-size: small;
}
.verified p{
    color: #000000;
    font-weight: bold;
}
.verify--admission{
    color: #000000;
}
.verify--admission p{
    color: gray;
}
.verification{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.admission--input input{
    background: transparent;
    width: 80%;
    padding: 8px;
    border-radius: 50px;
    font-size: 16px;
    border: 2px solid #006633;
}
.verify--button{
    background-color: #006633;
}
